{% extends 'base.html.twig' %}

{% block title %}Skill-manager{% endblock %}

{% block body %}

    <h1>Bienvenue sur le gestionnaire de compétences</h1>
    <a href="/login">Connexion</a>

{% endblock %}
