{% extends 'base.html.twig' %}

{% block title %}Hello CompetencesController!{% endblock %}

{% block body %}

    {% for competence in competences %}
        <article>
            <ul>
                <li>{{ competence.name }}</li>
            </ul>
            <a href="/competences/new">Ajouter une compétence</a>
        </article>
    {% endfor %}
{% endblock %}
